In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve,roc_auc_score
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('dataset/Social_Network_Ads.csv')
print('Shape:',data.shape)
print(data.isnull().sum())
print(data.columns)
X = data.iloc[:,2:4]
y = data.iloc[:,4]
#y = data['Purchased']
print(X.head())
X.describe()

Shape: (400, 5)
User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64
Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')
    Age  EstimatedSalary
0  19.0          19000.0
1  35.0          20000.0
2  26.0          43000.0
3  27.0          57000.0
4  19.0          76000.0

              Age  EstimatedSalary
count  400.000000       400.000000
mean    37.655000     69742.500000
std     10.482877     34096.960282
min     18.000000     15000.000000
25%     29.750000     43000.000000
50%     37.000000     70000.000000
75%     46.000000     88000.000000
max     60.000000    150000.000000

In [3]:
np.unique(y)
set(y)

{0, 1}

In [4]:
X.describe()

              Age  EstimatedSalary
count  400.000000       400.000000
mean    37.655000     69742.500000
std     10.482877     34096.960282
min     18.000000     15000.000000
25%     29.750000     43000.000000
50%     37.000000     70000.000000
75%     46.000000     88000.000000
max     60.000000    150000.000000

In [5]:
scaler = MinMaxScaler()
Xs = scaler.fit_transform(X)
pd.DataFrame(Xs).describe()

                0           1
count  400.000000  400.000000
mean     0.467976    0.405500
std      0.249592    0.252570
min      0.000000    0.000000
25%      0.279762    0.207407
50%      0.452381    0.407407
75%      0.666667    0.540741
max      1.000000    1.000000

In [6]:
X_train,X_test,y_train,y_test=train_test_split(Xs,y,random_state=0)
len(X) #400
len(X_train) #300
len(X_test) #100
print(X_test.head())

classifier = LogisticRegression(random_state=0)
classifier.fit(X_train,y_train)

y_pred = classifier.predict(X_test)
print(y_pred)
print(y_test)

result = pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
print(result)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [7]:
print('Confusion Matrix\n',confusion_matrix(y_test,y_pred))
print('Classification Report\n',classification_report(y_test,y_pred))
print('Accuracy:\n',accuracy_score(y_test,y_pred)*100)

NameError: name 'y_pred' is not defined

In [8]:
#age = 20
age = int(input('Enter Age:'))

#salary = 20000
salary = int(input('Enter Salary:'))

new = np.array([[age,salary]])
new = scaler.transform(new)
pred = classifier.predict(new)
if pred[0] == 1:
    print("Will purchase the item")
else:
    print("Will not purchase the item")

Enter Age: 12
Enter Salary: 15000

C:\Users\aryan\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

NameError: name 'classifier' is not defined

In [9]:

y_pred_proba = classifier.predict_proba(X_test)
y_pred_proba*100

y_pred_proba = classifier.predict_proba(X_test)[::,1]
fpr,tpr,_=roc_curve(y_test,y_pred_proba)
auc = roc_auc_score(y_test,y_pred_proba)
plt.plot(fpr,tpr,label="data 1,auc="+str(auc))
plt.legend(loc=4)

NameError: name 'classifier' is not defined

In [10]:
cm = confusion_matrix(y_test,y_pred)
print(cm)

accuracy = (cm[0,0]+cm[1,1])/len(X_test)
print('Accuracy:',accuracy*100)

sensitivity = cm[0,0]/(cm[0,0]+cm[0,1])
print('Sensitivity:',sensitivity*100)

specificity = cm[1,1]/(cm[1,0]+cm[1,1])
print('Specificity:',specificity*100)

NameError: name 'y_pred' is not defined